.all-models-container {
  display: table;
  width: 100%;

  > * {
    display: table-cell;
    vertical-align: top;
    padding-top: 4rem;
    padding-bottom: 4rem;

    &:first-child {
      padding-right: 4rem;
    }
    
    &:last-child {
      width: 300px;
    }

  }

  .form-group input {
    display: block;
    width: 100%;
  }

  .accordian--item {
    
    img {
      max-width: 50px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 1rem;
    }

    .single--part-fitment-item {
      list-style-type: none;
    }

  }

  .accordian-title {
    background-color: $medium-gray;
  }

  .accordian--is-collapsed .accordian--title:after {
    top: 50%;
    transform: rotate(0) translateY(-50%);
  }

  .accordian--title:after {
    top: 50%;
    transform: rotate(45deg) translateY(-50%); 
    transform-origin: top;
  }

  .sticky-elements {
    position: sticky;
    top: 3rem;
  }

  .single--part-fitment-item {
    margin-bottom: 1rem;
  }

}