.single-product .onsale {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: red;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  border-radius: 50%;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}

.single-product .type-product {
  margin-top: 3rem;
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  > * {
    flex: 1;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  @include desktop {
    @supports (display: grid) {
      display: grid;
      grid-template-columns: 400px 1fr;
      grid-gap: 3rem;
    }
  }

}

.single-product .woocommerce-product-gallery {
  max-width: 400px;
  position: relative;
  @include desktop {
    margin-right: 3rem;
    @supports (display: grid) {
      margin-right: 0;
    }
  }


  img {
    height: auto;
  }

  .woocommerce-product-gallery__trigger {
    position: absolute;
    z-index: 1;
    top: 0rem;
    right: 0rem;
    background-color: #fff;
    padding: 0.7em;
    border-radius: 50%;
    border: 1px solid $medium-gray;
    box-shadow: 0px 0px 25px rgba(black,0.1);
    transition: box-shadow 200ms ease-in-out;
    &:hover {
      text-decoration: none;
      box-shadow: 0px 0px 25px rgba($brand,1);
    }
  }

  // .flex-viewport {
  //   border: 1px solid $medium-gray;
  //   box-shadow: 5px 5px 15px rgba(black, 0.05);
  // }

  .flex-viewport,
  .woocommerce-product-gallery__image {
    height: 400px !important;
    margin-bottom: 1rem;
  }

  .woocommerce-product-gallery__image img {
    // object-fit: none;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .woocommerce-product-gallery__image > a > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

}

.single-product .flex-control-thumbs {
  display: flex;
  width: 100%;
  li {
    list-style-type: none;
    img {
      border: 1px solid $medium-gray;
    }
  }
}

.single--part-fitment-list {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-gap: 0.5rem;
  }
}

.single--part-fitment-item {
  // flex: 1;
  list-style-type: none;
  // margin-right: 0.5rem;
  // margin-bottom: 0.25rem;
  text-align: center;
  
  a {
    border: 1px solid $medium-gray;
    display: block;
    font-size: 0.9em;
    padding: 0.25em 0.5em;
    border-radius: 50px;
    transition: all 250ms ease-in-out;
    background-color: #fff;
    &:focus,
    &:hover {
      outline: none;
      text-decoration: none;
      background-color: $brand;
      color: #fff;
      border-color: $brand;
    }
  }

  &.hidden {
    display: none;
  }

}

.product-content {
  margin: 2rem 0;
  p {
    margin-bottom: 1rem;
  }
}

.tabs.wc-tabs {
  display: flex;
  list-style-type: none;
  margin-top: 2rem;
  
  a {
    display: block;
    padding: 1rem;
    background-color: $light-gray;
    border: 1px solid $medium-gray;
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: inset 0 -4px 10px rgba(black, 0.1);
    // transition: all 250ms ease-in-out;
    &:hover {
      text-decoration: none;
    }
  }

  li:first-child a {
    border-top-left-radius: 5px;
  }

  li:last-child a {
    border-top-right-radius: 5px;
  }

  li.active a {
    background-color: $brand;
    color: #fff;
    border-color: $brand;
    box-shadow: inset 0 4px 10px rgba(black, 0.2);
  }

}

.woocommerce-Tabs-panel {
  border: 1px solid $medium-gray;
  // background-color: $light-gray;
  padding: 2rem 1.5rem;
  border-radius: 5px;
  border-top-left-radius: 0;
}