.single .post {
  padding-top: 2rem;
  padding-bottom: 2rem;
  @include desktop {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.single .post .site-width {
  display: flex;
  flex-direction: column;
  @include desktop {
    display: grid;
    grid-gap: 3rem 4rem;
    grid-template-columns: 150px 1fr 175px;
  }
}

.single-author,
.single-content,
.single-footer {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  @include desktop {
    max-width: unset;
    margin-left: unset;
    margin-right: unset;
  }
}

.single-author {
  margin: 0;
  display: flex;
  align-items: center;
  @include tablet {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  @include desktop {
    text-align: center;
    display: block;
  }
}

.single-author--headshot {
  flex-shrink: 0;
  
  img {
    max-width: 75px;
    max-height: 75px;
    border-radius: 50%;
  }

}

.single-author--content {
  padding-left: 1rem;
  @include desktop {
    padding-left: 0;
  }
}

.single-author--date {
  display: none;
  @include desktop {
    display: block;
    font-size: 0.85em;
    margin-bottom: 1rem;
  }
}

.single-author--name {
  font-weight: bold;
  font-size: 1.2em;
  .single .single-author & {
    margin-bottom: 0;
  }
}

.single-author--description {
  font-size: 0.8rem;
  font-style: italic;
}

.single-content {
  order: -1;
  @include desktop {
    order: 0;
  }
}

.single-categories {
  @include desktop {
    font-size: 0.8rem;
  }
}

.single-categories--list {
  list-style-type: none;
  display: none;
  @include desktop {
    display: block;
  }
}

.single-categories--item {
  &:first-child .single-categories--link {
    border-top: 1px solid $medium-gray;
  }
}

.single-categories--link {
  border-bottom: 1px solid $medium-gray;
  display: block;
  padding: 0.5em 1em;

  &:hover {
    text-decoration: none;
  }
  
  span {
    float: right;
  }

  &.single-categories--active {
    color: $brand;
    font-weight: bold;
  }

}

.single-current-promo {
  background-color: $brand-two;
  padding: 2rem 1rem;
  color: #fff;
  text-align: center;

  .single & {
    margin-top: 3rem;
  }

}





.single-footer {
  border-top: 1px solid $medium-gray;
  margin-top: 3rem;
  padding-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  @include desktop {
    padding-bottom: 0;
  }
}

.single-tags--list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0.5rem
}

.single-tags--item {
  margin-right: 0.5em;

  a {
    border: 1px solid $brand-two;
    // background-color: $light-gray;
    color: $brand-two;
    font-size: 0.75rem;
    display: block;
    line-height: 1;
    padding: .35em .5em;
    border-radius: 4px;
    transition: all 250ms ease-in-out;
    text-decoration: none !important;
    font-weight: normal !important;
    &:hover {
      background-color: $brand-two;
      border-color: $brand-two;
      color: #fff;
    }
  }

}


/*
=========================
POST UTLITIES
=========================
*/
.single .post .alignright {
  display: block;
  margin: 1rem auto;
  @include tablet {
    float: right;
    margin-top: 0;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
  @include desktop {
    float: right;
    margin-top: 0;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
}


/*
=========================
TALK WITH A TECH STYLES
=========================
*/
.single-tech-section {
  background-color: $light-gray;
  border: 1px solid $medium-gray;
  margin-bottom: 2rem;
  padding: 1rem;
  @include desktop { 
    padding: 1.5rem;
    position: relative;
    left: -1.5rem;
    width: calc(100% + 4rem);
  }

  h3 {
    text-transform: uppercase;
    border-bottom: 1px solid $medium-gray;
    margin-bottom: 0.25em;
  }
  
  .single & p {
    margin-bottom: 0;
  }

  img {
    width: 100%;
    display: block;
    margin: 1rem auto;
    @include tablet {
      width: auto;
      float: right;
      margin-top: 0;
      margin-left: 2rem;
      margin-bottom: 1rem;
    }
    @include desktop {
      width: auto;
      float: right;
      margin-top: 0;
      margin-left: 2rem;
      margin-bottom: 1rem;
    }
  }

}