.single .category-maintenance-reminder.post .site-width {
  grid-template-columns: 350px 2fr;
}

.single .category-maintenance-reminder.post h1 {
  font-size: 1.75rem;
  line-height: 1.1;
  margin-bottom: 3rem;
}

.single .category-maintenance-reminder.post h2 span {
  display: none;
}

.single .category-maintenance-reminder #saveForLater {
  display: none;
  @include tablet {
    display: inline-block;  
  }
  @include desktop {
    display: inline-block;    
  }
}