.woocommerce-EditAccountForm {
  display: flex;
  flex-direction: column;
  @include hd {
    flex-direction: row;
  }

  > * {
    flex: 1;
    &:first-child {
      margin-bottom: 2rem;
      @include hd {
        margin-bottom: 0;
        margin-right: 3rem;
      }
    }
    &:last-child {
      @include hd {
        margin-left: 3rem;
      }
    }
  }

}