.woocommerce-orders .woocommerce-orders-table {
  width: 100%;

  tr {
    display: flex;   
    flex-direction: column;
    border-bottom: 1px solid $medium-gray;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    @include desktop {
      flex-direction: row;
      align-items: center;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
    }
  }

  th, td {
    flex: 1;
  }

  thead {
    display: none;
    @include desktop {
      display: initial;
    }
    
    tr {
      @include desktop {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }

  }

  th {
    text-align: left;
    @include desktop {
      background-color: $brand-two;
      color: #fff;
      padding: 0.5rem;
    }

    &[data-title="Actions"] {
      text-align: center;
      flex-grow: 2;
    }

    &[data-title="Status"],
    &[data-title="Date"] {
      flex-grow: 2;
    }

  }

  tbody tr:first-child td {
    padding-top: 1rem;
  }

  td {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 0;
    @include desktop {
      padding: 0.2rem 0.5rem;
    }
    
    &:before {
      content: "" attr(data-title) ": ";
      font-weight: bold;
      @include desktop {
        display: none;
      }
    }

    &[data-title="Status"],
    &[data-title="Date"] {
      flex-grow: 2;
    }

    &[data-title="Actions"] {
      justify-content: center;
      padding-top: 0.75rem;
      flex-grow: 2;
      
      &:before {
        display: none;
      }

      a {
        margin-right: 1em;
        &:last-child {
          margin-right: 0;
        }
      }

    }

  }


}


// .woocommerce-view-order .gfp-order-details--contents,
.woocommerce-view-order .gfp-order-details--totals {
  @include desktop {
    padding: 0;
  }
}

.woocommerce-view-order section.woocommerce-order-details {
  .gfp-order-details--list,
  address {
    padding: 1rem;
    background-color: $light-gray;
    border: 1px solid $medium-gray;
    margin-bottom: 2rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.woocommerce-view-order #printOrder {
  position: absolute;
  top: calc(100% + 1.5rem);
  left: 50%;
  transform: translateX(-50%);
}



/*
=========================
PRINT STYLES FOR INVOICE
=========================
*/
@page {
  margin: 0;
}
.woocommerce-view-order {
  @media print {
    background-image: url(../img/gfp-letterhead.jpg);
    background-size: 8.5in 11in;
    padding: 1.5in 0.5in 0.5in;

    .site-width {
      width: 100%;
      max-width: 100%;
    }

    main > .site-width > .pad-y--most {
      padding: 0;
    }

    .site-header,
    .site-footer,
    .global-search-bar,
    .alert--add-to-cart,
    .woocommerce-MyAccount-navigation,
    .order-status,
    #printOrder {
      display: none;
    }

    .woocommerce {
      display: block;

    }

    .gfp-order {
      display: block;
    }

    h2 {
      padding: 0.125in 0.25in;
    }

    section.woocommerce-customer-details {
      display: table;
      width: 7.5in;
      .woocommerce-column {
        display: table-cell;
        width: 3.5in;
        float: left;
        &:last-child {
          float: right;
        }
      }
    }

    section.woocommerce-order-details .gfp-order-details--list,
    section.woocommerce-order-details address {
      padding: 0 0.25in;
      margin-bottom: 0.5in;
    }

    section.woocommerce-order-details address {
      padding: 0.125in 0.25in;
    }


    .gfp-order-details--item { 
      padding: 0.125in 0;
      background-color: transparent;
      box-shadow: none;
      border: 0;
      border-bottom: 1px solid $medium-gray;
      margin-bottom: 0;
      &:last-child {
        border-bottom: 0;
      }
    }

    .gfp-order-details--item-details {
      padding-left: 0;
    }

    .gfp-order-details--totals-inner {
      page-break-inside: avoid;
    }

  }
}
