#gfp_custom_product_data {
  padding: 2rem;
}
#gfp_custom_product_data .acf-label {
  margin: 0;
}
#gfp_custom_product_data .acf-label label {
  font-weight: 400;
  font-size: 12px;
}
#gfp_custom_product_data label[for="product-type"] {
  display: none;
}