.accordian {
  list-style-type: none;
}

.accordian--item {
  border: 1px solid $medium-gray;
  border-radius: 5px;
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.accordian--title {
  font-weight: bold;
  padding: 1rem 3rem 1rem 1rem;
  margin-bottom: 0 !important;
  cursor: pointer;
  background-color: $brand;
  color: #fff;
  width: 100%;
  text-align: left;
  border: 0;
  position: relative;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 3px 3px 6px rgba(black, 0.1);
  &:after {
    content: '\002B';
    font-size: 2rem;
    position: absolute;
    top: 0;
    right: 1rem;
    transform: rotate(45deg);
  }
  .accordian--is-collapsed & {
    background-color: #fff;
    color: $black;
    box-shadow: 3px 3px 6px rgba(black, 0.1);
    border-radius: 5px;
    &:after {
      transform: rotate(0);
    }
  }
}

.accordian--content {
  background-color: #fff;
  padding: 1rem 2rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 3px 3px 6px rgba(black, 0.1);
  position: relative;
  z-index: 1;
  li {
    list-style-type: disc;
  }
  .accordian--is-collapsed & {
    display: none;
  }
}