.box--with-header {
  background-color: $light-gray;
  border: 1px solid $medium-gray;
  border-radius: 5px;
  padding: 1rem;

  header {
    font-weight: bold;
    text-transform: uppercase;
    background-color: $brand;
    color: #fff;
    position: relative;
    left: -1rem;
    top: -1rem;
    width: calc(100% + 2rem);
    padding: 0.5rem 1rem;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    justify-content: space-between;

    h2, h3, h4, h5, h6 {
      font-size: 1.17rem;
      text-transform: uppercase;
    }

    a {
      @include outlineButton(#fff, $brand);
      padding: 0.25rem 0.5rem;
      font-size: 0.7em;
    }

  }

}

// .box--sign-up {
//   text-align: center;
//   padding: 3rem 2rem;
//   margin: 3rem 0;
//   background-image: linear-gradient(rgba(black, 0.3), rgba(black, 0.3)), url(../img/bg-reminder.jpg);
//   background-size: cover;
//   background-position: center;
//   position: relative;
//   z-index: 1;

//   &:after {
//     content: '';
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     background-image: radial-gradient(rgba(black, 0.7), rgba(black, 0));
//     z-index: -1;
//   }
  
//   h3 {
//     color: #fff;
//     text-shadow: 5px 5px 10px rgba(black, 0.5);
//     font-size: 1.1rem;
//     margin-bottom: 1.5rem;
    
//     span {
//       margin-top: 5px;
//       color: $brand-two;
//       font-size: 2em;
//       line-height: 0.9;
//       display: block !important;
//       text-transform: uppercase;
//     }

//   }

//   .btn-solid--brand {
//     font-size: 1rem;
//     padding: 0.75em 1.5em;
//   }

// }

