.woocommerce-breadcrumb {
  display: none;
  @include desktop {
    display: block;
  }
  
  .tax-pa_part-catalog & {
    display: none;
  }

}

.woocommerce-breadcrumb a {
  padding: 0 0.75rem;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 1rem;
  }
}

.breadcrumb-delimiter:last-child {
  display: inline-block;
  margin-right: 0.75rem;
}

.woo-breadcrumbs {
  padding-top: 1rem;
  width: calc(100% - 2rem);
  max-width: 1080px;
  margin: 0 auto;
  font-size: 0.9em;
}