.global-search-bar {
  background-color: $brand-two;
  box-shadow: 0 15px 15px -5px rgba(0,0,0,0.1);

  .site-width {
    position: relative;
    width: 100%;
  }

  form {
    display: block;
    position: relative;
  }

  input {
    border: 0;
  }

  input[type="text"] {
    width: 100%;
    font-size: 0.9em;
    color: lighten($black, 10%);
    border-radius: 0
  }

  input[type="submit"] {
    background-color: $brand;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 23px;
    color: transparent;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-radius: 0;
  }

  .search-results {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: $light-gray;
    border: 1px solid $medium-gray;
  }

  .search-results ul {
    list-style-type: none;
  }

  .search-results--posts,
  .search-results--products,
  .search-results--models,
  .search-results--categories {
    display: flex;
    padding: 1.5rem 0 1.5rem 1.5rem;

    h4 {
      min-width: 100px;
    }

  }

  .search-results--posts,
  .search-results--products,
  .search-results--models {
    border-bottom: 1px solid $medium-gray;
  }

  .search-results--products,
  .search-results--categories,
  .search-results--models {
    overflow: hidden;
    
    ul {
      display: flex;
      overflow-x: scroll;
      padding-bottom: 1rem;
    }
    
    li:not(.search-result-item--empty) {
      margin-right: 1rem;
      flex: 1;
      min-width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      border: 1px solid $medium-gray;
      border-radius: 5px;
      box-shadow: 0 0 15px rgba(black, 0.1);
      text-align: center;
      font-size: 0.8em;
    }

    a {
      display: block;
      padding: 0.5rem;
      width: 100%;
    }

    img {
      max-width: 65px;
      max-height: 65px;
    }

  }

  .search-results--view-all {
    display: block;
    padding: 1rem;
    background-color: $brand;
    color: #fff;
  }

  .search-result-item--empty {
    color: lighten($black, 30%);
  }


}