.single-product {

  table {
    margin: 0 auto;
  }

  th, td {
    border-bottom: 1px solid red;
    padding: 0.25rem 0;
  }

  tr:last-child th,
  tr:last-child td {
    border-bottom: 0;
  }
  
  th {
    text-align: right;
    padding-right: 1rem;
    &:after {
      content: ':';
    }
  }

  .woocommerce-Tabs-panel--additional_information h2 {
    display: none;
  }

}

.category-maintenance-reminder {
  table {
    width: 100%;
    border: 1px solid #ccc;
  }

  th,
  td {
    padding: 0.5rem 1rem;
    background-color: #fff;
    text-align: left;
    font-size: 0.9em;
    
    &:last-child {
      text-align: center;
    }

  }

  tr {
    display: flex;
    flex-direction: column;
    @include tablet {
      display: table-row;
    }
    @include desktop {
      display: table-row;
    }
  }

  th {
    background-color: $brand;
    color: #fff;
    text-transform: uppercase;
    display: none;
    @include tablet {
      display: table-cell;
    }
    @include desktop {
      display: table-cell;
    }
  }

  td {
    font-size: 0.85em;
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 0.1rem 1rem;
    text-align: right;
    position: relative;
    @include tablet {
      text-align: left;
      display: table-cell;
      padding: 0.5rem 1rem;
    }
    @include desktop {
      text-align: left;
      display: table-cell;
      padding: 0.5rem 1rem;
    }

    &:before {
      content: attr(data-header);
      font-weight: bold;
      text-align: left;
      @include tablet {
        display: none;
      }
      @include desktop {
        display: none;
      }
    }

    &:first-child {
      padding-top: 1rem;
      @include tablet {
        padding-top: 0.5rem;
      }
      @include desktop {
        padding-top: 0.5rem;
      }
    }

    &:last-child {
      padding-bottom: 1rem;
      justify-content: center;
      @include tablet {
        padding-bottom: 0.5rem;
      }
      @include desktop {
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
      }
    }

    button {
      font-size: 0.9em;
      padding: 0.25em 0.75em;
      background-color: $brand-two;
      border: 0;
      color: #fff;
      transition: all 250ms ease-in-out;

      &:hover {
        background-color: darken($brand-two, 15%);
      }

      &.disabled {
        background-color: $medium-gray;
        &:hover {
          background-color: darken($medium-gray, 15%);   
        }
      }

      span {
        @include tablet {
          display: none;
        }
        @include desktop {
          display: none;
        }
      }

    }

  }

  tr:nth-child(2n+1) td {
    background-color: #f0f0f0;
    // border-top: 1px solid $medium-gray;
    // border-bottom: 1px solid $medium-gray;
  }
}

table.skus {
  width: 100%;
  margin-top: 2rem;
  
  thead th {
    background-color: $medium-gray;
    padding: 0.75rem;
    border: 1px solid $medium-gray;
  }

  tbody td {
    padding: 0.5rem 1rem;
    border-left: 1px solid $medium-gray;
    text-align: center;
    position: relative;
  }

  tbody tr:nth-child(2n-1) {
    background-color: #fff;
  }

  tbody tr:nth-child(2n) {
    background-color: darken($light-gray, 3%);
  }

  tbody tr:last-child td {
    border-bottom: 1px solid $medium-gray;
  }

  tbody tr td:nth-child(2) {
    text-align: left;
  }

  tbody tr td:last-child {
    border-right: 1px solid $medium-gray;
  }

  tfoot {
    background-color: $brand-two;
    color: $brand;
    
    td {
      padding: 0.5rem 1rem;
      font-weight: bold;
      text-align: center;
      &:first-child {
        text-align: right;
      }
    }

  }

  .remove-sku {
    background: transparent;
    width: 1.3rem;
    height: 1.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 0;
    font-size: 1.1rem;
    border: 0;
    color: #fff;
    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid $brand-two;
      background-color: $brand-two;
      border-radius: 50%;
    }
  }

}